<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pdf</title>
  </head>

  <body>
    <h1> <%= @ashanak.address %> </h1>
    <h1> <%= @occasions.title_en %> </h1>
    <h1> <%= @employee.first_name %> </h1>
    occasions
  </body>

</html>
