<!doctype html>
<html>
  <head>
    <style>
      .style_pdf{
        background: url(<%= @path %>);
        background-size: cover;
        width: 100%;
        /* height: 685px; */
        height: 520px;
        padding-top: 180px;
        direction: rtl;
        font-size: 18px;
        font-weight: bold;
      }
      .relative_name{
        height: 50px;
        padding: 20px 180px 0 0;
      }
      .offer_name{
        padding: 16px 40px 0 0;
      }
      .employee_name{
        padding: 16px 90px 0 0;
      }
      .moh_id{
        padding: 17px 170px 0 0;
      }
      .number_phone{
        padding: 20px 130px 0 0;
      }
      .email{
        padding: 17px 180px 0 0;
      }
      .datatime{
        padding: 15px 165px 0 0;

      }
      .datatime span{
        display: inline-block;
      }
      .datatime .day{
        width: 35px;
        text-align: center;
      }
      .datatime .month{
        margin-right: 30px;
        width: 50px;
        text-align: center;
      }
      .datatime .year{
        margin-right: 25px;
        width: 80px;
        text-align: center;
      }
    </style>
    <meta charset="utf-8" />
    <title>Invitation To Offer</title>
  </head>

  <body>
    <div class="style_pdf">
     <div class="relative_name"><%= @relative_name%></div>
     <div class="offer_name"><%= @offer.title%></div>
     <div class="datatime">
      <span class="day"><%= @offer.expire_on.day%></span>
      <span class="month"><%= @offer.expire_on.month%></span>
      <span class="year"><%= @offer.expire_on.year%></span>
     </div>
     <div class="employee_name"><%= @employee.full_name%></div>
     <div class="moh_id"><%= @employee.id%></div>
     <div class="number_phone"><%= @employee.phone_number%></div>
     <div class="email"><%= @employee.email%></div>
    </div>
  </body>

</html>
