<div style="width:600px">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal; text-align: center">
          <%= @title %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <%= @intro %>
          <br>
          <br>
          <%= @message %>.
        </p>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;text-align: center; margin-top: 30px;">
    <tr>
      <td style="border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;"><%= t('emails.chalets.details') %></h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table
          width="80%"
          cellpadding="4"
          cellspacing="1"
          class="text"
          align="center"
          style="text-align: <%= I18n.locale == :en ? 'left' : 'right' %>;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('title') %></div>
            </td>
            <td>
              <%=@chalet.title_en %>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('emails.date') %></div>
            </td>
            <td>
              <%=@chalet.start_date.strftime('%Y-%m-%d')%>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center">
              <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;margin-top: 40px;">
                <%= t('registration_details') %></h2>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('employee') %></div>
            </td>
            <td>
              <%=@employee.full_name%>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('code') %></div>
            </td>
            <td>
              <%=@registration['register_code']%>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('emails.date') %></div>
            </td>
            <td>
              <%= @registration['created_at'].is_a?(ActiveSupport::TimeWithZone) ? @registration['created_at'].to_date : Time.parse(@registration['created_at']).to_date%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
