<div style="width:600px">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal; text-align: center">
          <%= @title %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <%= @intro %>
          <br>
          <br>
          <%= @message %>.
        </p>
      </td>
    </tr>
  </table>

  <% if @registration.status == :approved %>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;text-align: center; margin-top: 30px;">
      <tr>
        <td style="border-collapse: collapse;">
          <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;"><%= t('emails.chalets.details') %></h2>
        </td>
      </tr>
      <tr>
        <td style="border-collapse: collapse;">
          <table cellpadding="4" cellspacing="1" class="text" align="center" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
            <tr>
              <td>
                <div style="font-weight:bold"><%= t('title') %></div>
                <%=@registration.chalet.title_en %>
              </td>
            </tr>
            <tr>
              <td>
                <div style="font-weight:bold"><%= t('emails.date') %></div>
                <%=@registration.chalet.start_date.strftime('%Y-%m-%d')%>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;margin-top: 50px">
      <tr>
        <td>
          <div style="font-weight:bold; font-family:Helvetica, Arial, sans-serif">
            <%= t('access_code') %>
            <br/><br/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="50" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
            <tr>
              <td bgcolor="#008a5e" style="border-radius: 4px;border-collapse: collapse;" width="200" height="50">
                <div class="contentEditableContainer contentTextEditable">
                  <div class="contentEditable" style="text-align:center">
                    <span class="link2" style="color: #fff;text-decoration: none;font-family: Helvetica, Arial, sans-serif;font-size: 16px;border-radius: 4px;"><%=@registration.register_code%></span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  <% end%>
</div>
