<!doctype html>
<html>
  <head>
    <style>
     .style_pdf{
       position: relative;
       height: 585px;
       background-size: cover;
       background-image: url('<%= @path %>');
     }
     .new_baby{
       color: #897d50;
       font-size: 19px;
       position: absolute;
       top: 198px;
       right: 410px
     }
    </style>
    <meta charset="utf-8" />
    <title><%= @occasions.title_en %></title>
  </head>

  <body>
    <div class=style_pdf>
      <span class='<%= @style %>'> <%= @employee.first_name.capitalize %> </span>
    </div>
  </body>

</html>
