Dear  <%=@employee.full_name %>,

Someone has requested a forgot password. You can use this code to recover change your password, it will expire after half an hour


Recover Passowrd Link : <%=@recover_link%>
