<div style="width:600px; text-align: center;">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">Forgot Password</h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">Dear
          <%=@employee.full_name %>,
          <br>
          <br>
          Someone has requested a forgot password. You can use this code to recover change your password, it will expire after half an hour.
          <br>
          <br>

          Recover password link : <a href="<%= @recover_link %>" target="_blank">Click Here</a>
        </p>
      </td>
    </tr>
  </table>
</div>
