<div style="width:600px; text-align: center;">
    <div style="position: relative; height: 400px; background-size: cover; background-image: url('<%= @image_path %>');">
      <span class='<%= @style %>'> <%= @employee.first_name.capitalize %> </span>
    </div>
</div>
