<div style="width:600px; text-align: center;">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">Your Password</h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          Dear <%= @employee.first_name + ' ' + @employee.last_name%>
          <br><br>
          Welcome to App Ashanak :
          <br>
          <h4>this is your password:  <%= @password %> </h4>
          <br><br>
          You can change your password any time you want
          <br><br>
          <h4>Please download the application via the following link :</h4>
          <br>
          <a href="https://itunes.apple.com/sa/app/ashanak/id1291683561?mt=8" target="_blank">
            <img src="<%= attachments['ios_app.png'].url %>" width="150" alt="IOS APP" data-default="placeholder" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"/></a>
          &nbsp;&nbsp;
          <a href="https://play.google.com/store/apps/details?id=sa.gov.moh.ashanak&ddl=1&pcampaignid=web_ddl_1" target="_blank">
            <img src="<%= attachments['play_store.png'].url %>" width="150" alt="ANDROID APP" data-default="placeholder" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"></a>
          <br><br>
          Thanks Dear
        </p>
      </td>
    </tr>
  </table>
</div>
