<div style="width:600px">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal; text-align: center">
          <%= @title %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <%= @intro %>
          <br>
          <br>
          <%= @message %>.
        </p>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
    <tr>
      <td style="border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;"><%= t('emails.events.details') %></h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table cellpadding="4" cellspacing="1" class="text" align="center" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('title') %></div>
              <%=@registration.event.title_en %>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('emails.date') %></div>
              <%=@registration.event.start_date.strftime('%Y-%m-%d')%>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight:bold"><%= t('address') %></div>
              <%=@registration.event.city_en %>,
              <%=@registration.event.address_en %>,
              <%=@registration.event.location_en %>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://maps.google.com/maps?q=<%=@registration.event.latitude%>,<%=@registration.event.longitude%>" target="_blank">
                <img
                  src="https://maps.googleapis.com/maps/api/staticmap?center=<%=@registration.event.latitude%>,<%=@registration.event.longitude%>&zoom=15&size=350x150&maptype=roadmap&markers=color:red%7Clabel:E|<%=@registration.event.latitude%>,<%=@registration.event.longitude%>&key=AIzaSyDyujoOsw_YZ7l6ORCRsyzzcbQbriU3nPI"
                  alt="event location"/>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;margin-top: 50px">
    <tr>
      <td>
        <div style="font-weight:bold; font-family:Helvetica, Arial, sans-serif">
          <%= t('access_code') %>
          <br/><br/>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="50" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
          <tr>
            <td bgcolor="#008a5e" style="border-radius: 4px;border-collapse: collapse;" width="200" height="50">
              <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" style="text-align:center">
                  <span class="link2" style="color: #fff;text-decoration: none;font-family: Helvetica, Arial, sans-serif;font-size: 16px;border-radius: 4px;"><%=@registration.register_code%></span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
