<div style="width:600px">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal; text-align: center">
          <%= @title %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;text-align: center">
          <%= @intro %>
          <br>
          <br>
          <%= @message %>.
        </p>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;margin-top: 20px">
    <tr>
      <td style="border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">
          <%= t('emails.employee_voice.original_message') %>
        </h2>
        <div style="font-family: Helvetica, Arial, sans-serif; font-size: 14px"><%= @employee_voice.created_at.strftime('%F') %></div>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table cellpadding="4" cellspacing="1" class="text" align="center" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <tr>
            <td><%= @employee_voice.message %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;margin-top: 20px">
    <tr>
      <td style="border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">
          <%= t('emails.employee_voice.reply_message') %>
        </h2>
        <div style="font-family: Helvetica, Arial, sans-serif; font-size: 14px"><%= @employee_voice.replied_at.strftime('%F') %></div>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table cellpadding="4" cellspacing="1" class="text" align="center" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <tr>
            <td><%= @employee_voice.reply_message %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
