<div style="width:600px">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal; text-align: center">
          <%= @title %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <%= @intro %>,
          <br>
          <br>
          <%= @message %>.
        </p>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;margin-top: 20px">
    <tr>
      <td style="border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">
          <%= t('emails.employee_details') %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table cellpadding="4" cellspacing="1" class="text" align="center" style="text-align: center;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <tr>
            <td style="font-weight:bold; text-align:right">
              <%= t('employee') %>
            </td>
            <td style="text-align:left">
              <%=@employee.full_name %>
            </td>
          </tr>
          <tr>
            <td style="font-weight:bold; text-align:right">
              <%= t('emails.ashanak_employee_id') %>
            </td>
            <td style="text-align:left">
              <%=@employee.id %>
            </td>
          </tr>
          <% if @employee.employee_id.present? %>
          <tr>
            <td style="font-weight:bold; text-align:right">
              <%= t('emails.moh_employee_id') %>
            </td>
            <td style="text-align:left">
              <%=@employee.employee_id %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td style="font-weight:bold; text-align:right">
              <%= t('email') %>
            </td>
            <td style="text-align:left">
              <%=@employee.email %>
            </td>
          </tr>
          <% if @employee.phone_number.present? %>
          <tr>
            <td style="font-weight:bold; text-align:right">
              <%= t('phone_number') %>
            </td>
            <td style="text-align:left">
                <%= @employee.phone_number %>
            </td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </table>
</div>
