<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;text-align: center; margin-top: 30px;">
  <tr>
    <td style="border-collapse: collapse;">
      <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">
        <%= t('emails.installment_details') %>
      </h2>
    </td>
  </tr>
  <tr>
    <td style="border-collapse: collapse;">
      <table width="80%" cellpadding="4" cellspacing="1" class="text" align="center" style="text-align: <%= I18n.locale == :en ? 'left' : 'right' %>;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('emails.installment.id') %>
          </td>
          <td>
            <%=@installment.id %>
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('nationality') %>
          </td>
          <td>
            <%=@installment.nationality.name %>
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('company') %>
          </td>
          <td>
            <%=@installment.company_name %>
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('emails.date') %>
          </td>
          <td>
            <%=@installment.created_at.strftime('%Y-%m-%d') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
