<div style="width:600px">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
    <tr>
      <td style="padding-bottom: 10px;padding-top: 25px;border-collapse: collapse;">
        <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal; text-align: center">
          <%= @title %>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <p style="margin: 1em 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
          <%= @intro %>,
          <br>
          <br>
          <%= @message %>.
          <% if @installment.rejected? %>
          <br>
          <br>
          <b><%= I18n.t('emails.reason') %></b>: <%= @installment.comments %>.
        </p>
        <% elsif @installment.approved? && @installment.attachments.count > 0 %>
          <p style="margin: 2em 0 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
            <%= I18n.t('emails.find_attachments') %>
          </p>
          <ul>
          <% attachments.select{|f| f.filename != 'logo.png' }.each do |file| %>
            <li>
              <a href="<%= file.url %>" style="margin: 1em 0;color: #01a166;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;text-decoration: none;">
                <%= file.filename %>
              </a>
            </li>
          <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
  </table>

  <%= render('installment_mailer/installment_details') %>

</div>
