<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;text-align: center; margin-top: 30px;">
  <tr>
    <td style="border-collapse: collapse;">
      <h2 style="color: black !important;font-family: Helvetica, Arial, sans-serif;font-size: 22px;line-height: 22px;font-weight: normal;">
        <%= t('emails.employee_details') %>
      </h2>
    </td>
  </tr>
  <tr>
    <td style="border-collapse: collapse;">
      <table width="80%" cellpadding="4" cellspacing="1" class="text" align="center" style="text-align: <%= I18n.locale == :en ? 'left' : 'right' %>;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;color: #555;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;">
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('employee') %>
          </td>
          <td style="text-align:left">
            <%=@employee.full_name %>
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('emails.ashanak_employee_id') %>
          </td>
          <td style="text-align:left">
            <%=@employee.id %>
          </td>
        </tr>
        <% if @employee.employee_id.present? %>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('emails.moh_employee_id') %>
          </td>
          <td style="text-align:left">
            <%=@employee.employee_id %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('email') %>
          </td>
          <td style="text-align:left">
            <%=@employee.email %>
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold; text-align:right">
            <%= t('phone_number') %>
          </td>
          <td style="text-align:left">
            <%= @employee.phone_number %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>