<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="<%= I18n.locale.to_s == 'ar' ? 'rtl' : 'ltr'%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>[SUBJECT]</title>
		<style type="text/css">
			@media screen and (max-width: 600px) {
				table[class="container"] {
					width: 95% !important;
				}
			}

			#outlook a {
				padding: 0;
			}
			body {
				width: 100% !important;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				margin: 0;
				padding: 0;
			}
			.ExternalClass {
				width: 100%;
			}
			.ExternalClass,
			.ExternalClass div,
			.ExternalClass font,
			.ExternalClass p,
			.ExternalClass span,
			.ExternalClass td {
				line-height: 100%;
			}
			#backgroundTable {
				margin: 0;
				padding: 0;
				width: 100% !important;
				line-height: 100% !important;
			}
			img {
				outline: none;
				text-decoration: none;
				-ms-interpolation-mode: bicubic;
			}
			a img {
				border: none;
			}
			.image_fix {
				display: block;
			}
			p {
				margin: 1em 0;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: black !important;
			}

			h1 a,
			h2 a,
			h3 a,
			h4 a,
			h5 a,
			h6 a {
				color: blue !important;
			}
			h1 a:active,
			h2 a:active,
			h3 a:active,
			h4 a:active,
			h5 a:active,
			h6 a:active {
				color: red !important;
			}
			h1 a:visited,
			h2 a:visited,
			h3 a:visited,
			h4 a:visited,
			h5 a:visited,
			h6 a:visited {
				color: purple !important;
			}

			table td {
				border-collapse: collapse;
			}

			table {
				border-collapse: collapse;
				mso-table-lspace: 0;
				mso-table-rspace: 0;
			}

			a {
				color: #000;
			}
			@media only screen and (max-device-width: 480px) {

				a[href^="sms"],
				a[href^="tel"] {
					text-decoration: none;
					color: black;
					/* or whatever your want */
					pointer-events: none;
					cursor: default;
				}

				.mobile_link a[href^="sms"],
				.mobile_link a[href^="tel"] {
					text-decoration: default;
					color: orange !important;
					/* or whatever your want */
					pointer-events: auto;
					cursor: default;
				}
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
				a[href^="sms"],
				a[href^="tel"] {
					text-decoration: none;
					color: blue;
					/* or whatever your want */
					pointer-events: none;
					cursor: default;
				}

				.mobile_link a[href^="sms"],
				.mobile_link a[href^="tel"] {
					text-decoration: default;
					color: orange !important;
					pointer-events: auto;
					cursor: default;
				}
			}
			@media only screen and (-webkit-min-device-pixel-ratio: 2) {
				/* Put your iPhone 4g styles in here */
			}
			@media only screen and (-webkit-device-pixel-ratio:.75) {
				/* Put CSS for low density (ldpi) Android layouts in here */
			}
			@media only screen and (-webkit-device-pixel-ratio:1) {
				/* Put CSS for medium density (mdpi) Android layouts in here */
			}
			@media only screen and (-webkit-device-pixel-ratio:1.5) {
				/* Put CSS for high density (hdpi) Android layouts in here */
			}
			/* end Android targeting */
			h2 {
				color: #181818;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 22px;
				line-height: 22px;
				font-weight: normal;
			}
			.link1 {}
			.link2 {
				color: #fff;
				text-decoration: none;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 16px;
				color: #fff;
				border-radius: 4px;
			}
			p {
				color: #555;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 16px;
				line-height: 160%;
			}
			.text {
				color: #555;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 16px;
				line-height: 160%;
			}
			.brownBg {
				background-color: #efdaa5;
			}
			.marriage{
				color: #897d50;
				font-size: 19px;
				position: absolute;
				top: 119px;
				right: 288px
			}
			.new_baby{
				color: #897d50;
				font-size: 19px;
				position: absolute;
				top: 135px;
				right: 280px
			}
			.promotion{
				color: #897d50;
				font-size: 19px;
				position: absolute;
				top: 128px;
				right: 293px
			}

		</style>
	</head>
	<body style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;width: 100% !important;">
		<table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class="bgBody" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;margin: 0;padding: 0;width: 100% !important;line-height: 100% !important;">
			<tr>
				<td style="border-collapse: collapse;">
					<table cellpadding="0" width="620" class="container" align="center" cellspacing="0" border="0" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
						<tr>
							<td style="border-collapse: collapse;">
								<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
									<tr>
										<td class="movableContentContainer bgItem" style="border-collapse: collapse;">
											<div class="movableContent">
												<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
													<tr height="40">
														<td width="200" style="border-collapse: collapse;">&nbsp;</td>
														<td width="200" style="border-collapse: collapse;">&nbsp;</td>
														<td width="200" style="border-collapse: collapse;">&nbsp;</td>
													</tr>
													<tr>
														<td width="200" valign="top" style="border-collapse: collapse;">&nbsp;</td>
														<td width="200" valign="top" align="center" style="border-collapse: collapse;">
															<div class="contentEditableContainer contentImageEditable">
																<div class="contentEditable" align="center">
																	<img src="<%= attachments['logo.png'].url %>" width="400" alt="Logo" data-default="placeholder" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
                                   </a>
                                </div>
															</div>
														</td>
														<td width="200" valign="top" style="border-collapse: collapse;">&nbsp;</td>
													</tr>
													<tr height="25">
														<td width="200" style="border-collapse: collapse;">&nbsp;</td>
														<td width="200" style="border-collapse: collapse;">&nbsp;</td>
														<td width="200" style="border-collapse: collapse;">&nbsp;</td>
													</tr>
												</table>
											</div>

											<!--- BODY STARTS HERE -->
                      <%= yield %>

											<!--- BODY ENDs HERE -->

											<div class="movableContent">
												<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;">
													<tr>
														<td width="100%" colspan="2" style="padding-top: 65px;border-collapse: collapse;">
															<hr style="height:1px;border:none;color:#333;background-color:#ddd;">
														</td>
													</tr>
													<tr>
														<td width="100%" height="70" valign="top" style="padding-bottom: 20px;border-collapse: collapse;">
															<div class="contentEditableContainer contentTextEditable">
																<div class="contentEditable" align="center">
																	<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Ministry of Health - Riyadh - Saudi Arabia</span>
																</div>
																<div class="contentEditable" align="center">
																	<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Tel: 0112125555 - P.O Box: 11176</span>
																</div>
															</div>
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
